$background-color :  burlywood;
$hoover-color : blue;
$hoover-background-color : lightblue;

body {
  background-color: $background-color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.test_component button {
  background-color: $background-color;
  width: 30%;
  border : none;
  color : white;
  padding: 1em 1em;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.shadow {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.test_component button:hover {
  @extend .shadow;
  background-color: $hoover-background-color;
  color: $hoover-color;
}

.test_component button:focus {
  outline: 0;
  }

.test_component {
  background-color: $background-color;
  width: 40%;
  border: 1px;
  border-style: solid;
  @include border-radius(4px);
  border-width: 2px;
  border-color: cornflowerblue;
  margin: 0.5em;
}