@import "../../../style.scss";

.test_component2 button {
  background-color: $background-color;
  width: 40%;
  border : none;
  color : white;
  padding: 5em 5em;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.4s;
}

.test_component2 button:hover {
  @extend .shadow;
  background-color: green;
  color: blue;
}

.test_component2 button:focus {
  outline: 0;
  }

.test_component2 {
  background-color: $background-color;
  width: 60%;
  border: 5px;
  border-style: solid;
  @include border-radius(4px);
  border-width: 2px;
  border-color: cornflowerblue;
  margin: 0.5em;
}